#### Vivaldi Rinaldi (var287)

# exercise with pandas

every "..." should be replaced with a line of code

In [9]:
import pandas as pd
import os

In [10]:
print("PUIdata", os.getenv("PUIDATA"))

PUIdata /nfshome/var287/PUIdata

Read what the PLUTO data is [here](https://www.wired.com/2013/08/nyc-pluto-data-map-party/)

Find the PLUTO dataset online, find the cvs file data (not the shape file), it should be about 46M

Download it as a zip file, unpack it in PUIDATAEach borough will be in a different file. The goal is to find land plot categories of which there is a higher number in Manhattan (MN) than in Brooklyn (BK)

Read in csv data as pandas dataframes (with pd.read_csv() )

In a Pandas DataFrame each column is a _series_ (a pandas datatype) to manipulate the data here you will mostly use methods (functions that are defined for a specific datatype and invoked with the _object.method()_ syntax) of the DataFrames (e.g. df.groupby() ) or of the series therein (e.g. series.astype() )

In [8]:
!wget https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v1.zip
!unzip nyc_pluto_18v1.zip
!mv nyc_pluto_18v1.zip
!mv PLUTO_for_WEB $PUIDATA

--2018-10-08 00:34:39--  https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v1.zip
Resolving www1.nyc.gov (www1.nyc.gov)... 104.112.26.93, 2600:1408:10:186::1500, 2600:1408:10:180::1500
Connecting to www1.nyc.gov (www1.nyc.gov)|104.112.26.93|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48263311 (46M) [application/zip]
Saving to: ‘nyc_pluto_18v1.zip’

nyc_pluto_18v1.zip  100%[===================>]  46.03M   150MB/s    in 0.3s

2018-10-08 00:34:39 (150 MB/s) - ‘nyc_pluto_18v1.zip’ saved [48263311/48263311]

Archive:  nyc_pluto_18v1.zip
  inflating: PLUTO_for_WEB/BK_18v1.csv
  inflating: PLUTO_for_WEB/BX_18v1.csv
  inflating: PLUTO_for_WEB/MN_18v1.csv
  inflating: PLUTO_for_WEB/PLUTODD18v1.pdf
  inflating: PLUTO_for_WEB/PlutoReadme18v1.pdf
  inflating: PLUTO_for_WEB/QN_18v1.csv
  inflating: PLUTO_for_WEB/SI_18v1.csv
mv: missing destination file operand after 'nyc_pluto_18v1.zip'
Try 'mv --help' for more information.

# read in te Manhattan and Brooklyn data in 2 separate dataframes w pandas

## show the first 10 lines of each df

In [55]:
mn = pd.read_csv(os.getenv("PUIDATA") + "/PLUTO_for_WEB/MN_18v1.csv")
bk = pd.read_csv(os.getenv("PUIDATA") + "/PLUTO_for_WEB/BK_18v1.csv")

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (20,23,24,26,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [56]:
# show brooklyn 10 rows
bk.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,1.0,1.0,18V1
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,03/04/2016,1,1.0,1.0,18V1
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,BK,3,35,302,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,302 007,3.0,NaN,NaN,NaN,5,NaN,NaN,18V1
6,BK,5,1,302,21.0,3001.0,13.0,33.0,11201.0,L118,...,NaN,302 008,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
7,BK,5,8,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,300 000,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
8,BK,6,1,302,21.0,3000.0,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,BK,6,10,302,21.0,NaN,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [57]:
mn.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,1,10,101,5.0,1011.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,1 99 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,MN,2,1,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
6,MN,2,2,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,11N 100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
7,MN,2,3,101,9.0,NaN,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
8,MN,2,23,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,MN,3,1,101,319.0,1000.0,2.0,1.0,10004.0,L015,...,NaN,101S087,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

## display all columns in each file

In [65]:
# show bk
bk.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
      dtype='object')

In [64]:
# show mn
mn.columns

Index(['ZipCode', 'LandUse'], dtype='object')

# drop all columns but ZipCode and LandUse

In [60]:
# drop columns here. Use the .drop method of pandas dataframes, i.e. something like bk.drop()... 
# make sure you drop "in place" and that you drop along the right axis - i.e. the columns. 
# you can use bk.drop? to the help with this function 
mn.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_Flag', 'PFIRM15_Flag', 'Version'],
       axis=1, inplace=True)
mn.head()

   ZipCode  LandUse
0  10004.0      8.0
1  10004.0      8.0
2  10004.0      NaN
3  10004.0      7.0
4  10004.0      7.0

In [66]:
# drop columns here...
bk.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass',  'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
       axis=1, inplace=True)
bk.head()

   ZipCode  LandUse
0  11201.0     11.0
1  11201.0      5.0
2  11201.0      4.0
3  11201.0      7.0
4  11201.0      7.0

# use groupby to count the building per LandUse code

In [67]:
# group Manhattan by land use. Make sure you understand how to use the groupby() method:
# this method returns a group object. those objects have methods and some of these methods return dataframes. 
# What do you want to do? you want to count all objects per each land use type. 
# So you want to use .groupby() to group by LandUse and then .count() to get the number of element per LandUse
# Other methods include .mean() to get the mean of a group, .std(), 
# and a generic method .apply() to which you can pass any function that operates on a column.
# All these methods return dataframes 
# (hint: use also reset_index) for each df
mngrouped = mn.groupby(['LandUse'], as_index = False).count()
mngrouped

    LandUse  ZipCode
0       1.0     4019
1       2.0    16246
2       3.0     4881
3       4.0     7238
4       5.0     4465
5       6.0      726
6       7.0      386
7       8.0     2456
8       9.0      434
9      10.0      679
10     11.0     1199

In [68]:
# group BK by land use
bkgrouped = bk.groupby(['LandUse'], as_index = False).count()
bkgrouped

    LandUse  ZipCode
0       1.0   156271
1       2.0    66358
2       3.0     3437
3       4.0    22515
4       5.0     5743
5       6.0     4434
6       7.0     1040
7       8.0     4330
8       9.0      872
9      10.0     4229
10     11.0     6298

# convert the landuse to integer

In [69]:
# convert LandUse to int using the .astype() method of the series
bkgrouped.LandUse = bkgrouped.LandUse.astype(int)
bkgrouped.head()

   LandUse  ZipCode
0        1   156271
1        2    66358
2        3     3437
3        4    22515
4        5     5743

In [70]:
mngrouped.LandUse = mngrouped.LandUse.astype(int)
mngrouped.head()

   LandUse  ZipCode
0        1     4019
1        2    16246
2        3     4881
3        4     7238
4        5     4465

# merge the dataframes on land use

In [71]:
# merge the dataframes on LandUse. You can use the pandas function merge ( _pd.merge)
both = bkgrouped.merge(mngrouped, on='LandUse')
both

    LandUse  ZipCode_x  ZipCode_y
0         1     156271       4019
1         2      66358      16246
2         3       3437       4881
3         4      22515       7238
4         5       5743       4465
5         6       4434        726
6         7       1040        386
7         8       4330       2456
8         9        872        434
9        10       4229        679
10       11       6298       1199

# rename things so that you have descriptive names

## rename the columns with descriptive names.

In [72]:
# Use the df.rename() method (hint: it takes a dictionary)
# now you can just call "both" instead of "both.head()" since the file should only have 11 columns
both.rename(columns={'ZipCode_x':'bk', 'ZipCode_y':'mn'}, inplace=True)
both

    LandUse      bk     mn
0         1  156271   4019
1         2   66358  16246
2         3    3437   4881
3         4   22515   7238
4         5    5743   4465
5         6    4434    726
6         7    1040    386
7         8    4330   2456
8         9     872    434
9        10    4229    679
10       11    6298   1199

## find online the LandUse data dictionary and replace code w the verbose description of it

In [73]:
# set up Land Use values to descriptive tag
both.LandUse= ['One &Two Family Buildings', 'Multi-Family Walk-Up Buildings', 'Multi-Family Elevator Buildings', 'Mixed Residential & Commercial Buildings', 'Commercial & Office Buildings','Industrial & Manufacturing', 'Transportation & Utility', 'Public Facilities & Institutions', 'Open Space & Outdoor Recreation', 'Parking Facilities' ,'Vacant Land']
both

                                     LandUse      bk     mn
0                  One &Two Family Buildings  156271   4019
1             Multi-Family Walk-Up Buildings   66358  16246
2            Multi-Family Elevator Buildings    3437   4881
3   Mixed Residential & Commercial Buildings   22515   7238
4              Commercial & Office Buildings    5743   4465
5                 Industrial & Manufacturing    4434    726
6                   Transportation & Utility    1040    386
7           Public Facilities & Institutions    4330   2456
8            Open Space & Outdoor Recreation     872    434
9                         Parking Facilities    4229    679
10                               Vacant Land    6298   1199

In [74]:
both.LandUse

0                    One &Two Family Buildings
1               Multi-Family Walk-Up Buildings
2              Multi-Family Elevator Buildings
3     Mixed Residential & Commercial Buildings
4                Commercial & Office Buildings
5                   Industrial & Manufacturing
6                     Transportation & Utility
7             Public Facilities & Institutions
8              Open Space & Outdoor Recreation
9                           Parking Facilities
10                                 Vacant Land
Name: LandUse, dtype: object

# create a feature (a column, a series) with the ratio of number of buildings in BK vs MN and find out in which LandUse class Manhattan has more buildings than BK

In [81]:
# calculate the ratio of BK to Man buildings per LandUse category
luration = both.mn/ both.bk 
 
both.loc[:,'luration']= luration
both

                                     LandUse      bk     mn  luration
0                  One &Two Family Buildings  156271   4019  0.025718
1             Multi-Family Walk-Up Buildings   66358  16246  0.244824
2            Multi-Family Elevator Buildings    3437   4881  1.420134
3   Mixed Residential & Commercial Buildings   22515   7238  0.321475
4              Commercial & Office Buildings    5743   4465  0.777468
5                 Industrial & Manufacturing    4434    726  0.163735
6                   Transportation & Utility    1040    386  0.371154
7           Public Facilities & Institutions    4330   2456  0.567206
8            Open Space & Outdoor Recreation     872    434  0.497706
9                         Parking Facilities    4229    679  0.160558
10                               Vacant Land    6298   1199  0.190378

In [85]:
def win(x):
    if x>1:
        return 'True'
    elif x<1:
        return 'False'

In [88]:
# defined function that returns True if the ratio is larger than 0, False otherwise. 
# Use the series.apply() method to apply that function to the luratio series you jusrt created
both.loc[:,'Manhattan Wins'] = both.luration.apply(win)
both

,LandUse,bk,mn,luration,Manhattan Wins
0,One &Two Family Buildings,156271,4019,0.025718,False
1,Multi-Family Walk-Up Buildings,66358,16246,0.244824,False
2,Multi-Family Elevator Buildings,3437,4881,1.420134,True
3,Mixed Residential & Commercial Buildings,22515,7238,0.321475,False
4,Commercial & Office Buildings,5743,4465,0.777468,False
5,Industrial & Manufacturing,4434,726,0.163735,False
6,Transportation & Utility,1040,386,0.371154,False
7,Public Facilities & Institutions,4330,2456,0.567206,False
8,Open Space & Outdoor Recreation,872,434,0.497706,False
9,Parking Facilities,4229,679,0.160558,False
10,Vacant Land,6298,1199,0.190378,False

# comment on what you found out. Does it make sense?

In terms of Land Use ration between Manhattan and Brooklyn, all except 1 landuse type has low ratio value, which indicate that Brooklyn generaly have more buildings and other types of land use than Manhattan. However, there are more multi-family elevator buildings in Manhattan than in Brooklyn, shown by a ratio above one. This finding makes sense since building in Manhattan are often higher in height to make up the lack of available land for housing and therefore requires elevator to get to higher levels.